#APP
NODE_ENV=development
PORT=3000

# DB
DB_TYPE=postgres
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=postgres
DB_PORT=5432
DB_NAME=apipix
DB_SCHEMA=apipix
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=${DB_SCHEMA}

# MONGO
DB_MONGO_PORT=27017
DB_MONGO_URI=mongodb://mongo

# CELCOIN
CELCOIN_PIX_KEY=testepix@celcoin.com.br
CELCOIN_CLIENT_ID=41b44ab9a56440.teste.celcoinapi.v5
CELCOIN_CLIENT_SECRET=e9d15cde33024c1494de7480e69b7a18c09d7cd25a8446839b3be82a56a044a3
CELCOIN_HOST=https://sandbox.openfinance.celcoin.dev

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis

# ELASTIC
ELASTIC_PORT=9200
ELASTIC_HOST=http://elasticsearch:9200

# SENTRY
SENTRY_DSN=

# JWT
JWT_KEY=KeY@123