PORT=3000
#DB
DB_TYPE=postgres
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=postgres
DB_PORT=5432
DB_NAME=apipix
DB_SCHEMA=apipix
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=${DB_SCHEMA}
CELCOIN_PIX_KEY=testepix@celcoin.com.br
CELCOIN_CLIENT_ID=41b44ab9a56440.teste.celcoinapi.v5
CELCOIN_CLIENT_SECRET=e9d15cde33024c1494de7480e69b7a18c09d7cd25a8446839b3be82a56a044a3
CELCOIN_HOST=https://sandbox.openfinance.celcoin.dev